* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
  }
  ul{
      list-style: none;
      margin-bottom: 0;
  }

  body{
      font-family: 'PT Sans', sans-serif, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
  }

  ul.tabs li{
      padding:5px 10px;
      color:#fff;
      background: #ccc;
  }
  ul.tabs li.current{
      background: blue;
      
  }

  ul.tabs{
      display: none;
  }
  .tab-content{
      margin-top: 5px;
  }
  .tab-content:before {
    content: attr(data-title);
    cursor: pointer;
    font-weight: bold;
    background: #eee;
    padding: 0.5em;
    display: block;
}

.tab-content img{
    display: none;
}

.tab-content img.showImg{
    display: block;

}
.productImg{
    margin-top: 10px;
}
  @media(min-width:992px){
      .content{
          height: 100vh;
          display: flex;
          align-items: center;
      }
      .tabSection{
          border:1px solid #dddddd;
          border-top:0;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }

      ul.tabs{
          display: flex;
      }
      ul.tabs li{
          text-align: center;
          width: calc(100% / 6);
          width: 16.6666667%;
          padding:20px 10px;
          border: 1px solid #dddddd;
          border-left:0;
          cursor: pointer;
          position: relative;
          background:none;
          color: #000;
          margin-bottom: 0;
      }
      ul.tabs li:last-child{
          border-right:0;
      }
      ul.tabs li span{
          display: block;
          font-size: 0.8em;
      }
      ul.tabs li.current{
        background:none;  
        color: #000;
      }
      ul.tabs li.current:before{
          content:'';
          position: absolute;
          top:0;
          left: 0;
          width:100%;
          height: 3px;
          background:#d13536;          
      }
      
      .tabContent{
          max-height: 60vh;
          overflow-y: auto;
          
      }
      .tab-content{
        margin-top: 0;
      }
      .tab-content:before{
          content: none;
      }
      .tab-content img{
        display: block;
    }
      .tab-content, .tab-content.hideDiv{
          display: none;
      }
      .tab-content.current{
          display: block;
      }
      .productImg{
          margin-top: 0;
      }
  }